    /*color:#f4bb32;
    background-color: #05a0c4;
    rgba(0, 0, 0, .9);
14c9ad



*/

/*This code, but no assets, are Copyrighted 2021 @Aidan McGloin, aidancmcgloin@gmail.com*/

h3 {
    font-size: 1em;
    color:rgba(0, 0, 0, .9);
    background-color:#391B6D;
    color:white;
    font-family: 'Roboto', sans-serif;
    padding:5px;
    border-left: 10px #FABE28 solid;
   /* border:.6px #05a0c4 solid;*.
   /* border-bottom: 5px #05a0c4 solid;*/
    position: absolute;
    bottom: 6%;
    left: 6%;
    right:6%;
    z-index: 10
}

div{
    position: relative;
    padding-bottom: 130%;
}

article{
    float: left;
    display: inline;
    width: 100%;
}

.article_photo{
    display: block;
    background-repeat: no-repeat;
    background-position: center center;    
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
   /* border:2px #05a0c4 solid;*/
}

header{
  /*  border-bottom-style:solid;
    border-bottom-width:30px;
    border-bottom-color: #05a0c4;*/
    display:block;
    margin-bottom: 2px;
    width:75vw;
    padding: 2px;
    padding-left: -100px;
}

.headerphoto{
   /* background-color: #391B6D;*/
    padding: 5px;
    width:50vw
   /* width:100%;*/
}

.linebreak{
    position: relative;
    padding-bottom: 2px;
    border-bottom-style:solid;
    border-bottom-width:5px;
    border-bottom-color: #391B6D;
    width:485px;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@media screen and (min-width: 30em) {
    article {
        width: 20%;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    article {
        width: 50%;
    }
}