/* CSS Document */

/*-----twitter embeds------*/
.twitterembed {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.tembeddiv {
    display: inline-block
}

/*----For responsive youtube embedding----*/

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----For Cambodian background page------*/
.backgroundinfo{
   float: left;
    max-width: 650px;
}

/*-----Timeline------*/
* {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 0 auto;
  float: left;
  max-width: 350px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #d2d4dd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  position: relative;
  background-color: inherit;
  width: 50%;
  display: inline-block
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #393f4d;
  border: 4px solid #fdd86b;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #d2d4dd;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d2d4dd;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #d2d4dd;
  border-width: 10px 10px 10px 0;
  border-color: transparent #d2d4dd transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: ;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #d2d4dd;
    border-width: 10px 10px 10px 0;
    border-color: transparent #d2d4dd transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/*----For placing videos in center----*/

.video{
    display: block;
    margin: 0 auto;
}

body {
	background: #393f4d;
	/*(default background color for the entire page)*/
	color: #d2d4dd;
	/*(default font color for the entire page)*/
	font-family: 'Montserrat', sans-serif;
	/*(default typeface for the entire page)*/
	font-weight: 300;
	/*(font thickness)*/
	-webkit-font-smoothing: antialiased;
	/*(helps with readability)*/
}
.centered {
	max-height: 10px;
}
/*----For resume in line text bold-----*/

.org {
	text-transform: uppercase;
	font-family: "Cormorant Garamond", "Garamond", "serif";
	color: #fdd86b;
	font-size: 1.25em;
}
/*----Prevents photos from shifting------*/

.photos {
	min-height: 300px;
}
/*----------------navigation section-----------------*/

.navigation {
	height: 60px;
	/*(height of nav bar)*/
	background-color: #393f4d;
	/*(background color for nav bar)*/
	position: fixed;
	/*(keeps nav bar visible when scrolling)*/
	width: 100%;
	top: 0;
	z-index: 10000000000000;
	/*(ensures nav bar appears in front of other elements)*/
	font-size: 1.125em;
	background-repeat: no-repeat;
	/*(image logo appears once)*/
	background-position: 0% 38%;
	/*(image logo position)*/
	border-bottom: thin solid #393f4d;
	/*(border under nav bar)*/
    background-image: url("img/logo2.png"); /*(image logo)*/
    font-family: "Cormorant Garamond", "Garamond", "serif";
}

/*----------------navigation container-----------------*/

.nav-container {
	max-width: 1000px;
	margin: 0 auto;
}
/*----------------text-based logo-----------------*/

.brand {
	position: absolute;
	padding-left: 90px;
	float: left;
	line-height: 70px;
	color: #fdd86b;
	font-size: x-large;
	;
	padding-top: 0px;
	font-family: "Cormorant Garamond", "Garamond", "serif";
}
/*----------------mobile navigation--------------------*/

.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: #393f4d;
	height: 60px;
	width: 70px;
}
/*----------------navigation buttons-----------------*/

nav {
	float: right;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	float: left;
	position: relative;
}
nav ul li a, nav ul li a:visited {
	display: block;
	padding: 0 20px;
	line-height: 60px;
	background-color: #393f4d;
	color: #fdd86b;
	text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
	background-color: #d2d4dd;
	color: #393f4d;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
	padding-left: 4px;
	content: ;
}
nav ul li ul li {
	min-width: 190px;
}
nav ul li ul li a {
	padding: 15px;
	line-height: 20px;
}
.nav-dropdown {
	position: absolute;
	display: none;
	z-index: 5;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
a.text:link, a.text:visited {
	background-color: #68ACF0;
	color: white;
	padding: 4px 4px;
	text-align: center;
	text-decoration: none;
}
a.text:hover, a.text:active {
	background-color: white;
	color: black;
}
/*----------------media queries-----------------*/

/*If device width is less than or equal to 800px, then do ...*/

@media only screen and (max-width: 800px) {
	.nav-mobile {
		display: block;
	}
	nav {
		width: 100%;
		padding: 70px 0 15px;
	}
	nav ul {
		display: none;
	}
	nav ul li {
		float: none;
	}
	nav ul li a {
		padding: 15px;
		line-height: 20px;
	}
	nav ul li ul li a {
		padding-left: 30px;
	}
	.nav-dropdown {
		position: static;
	}
	.brand {
		position: absolute;
		padding-left: 90px;
		float: left;
		color: #fdd86b;
		font-family: "Cormorant Garamond", "Garamond", "serif";
		font-size: 1.5em;
	}
	.image2 {
		cursor: pointer;
		width: 90%;
		height: 90%;
	}
}
@media screen and (min-width: 800px) {
	/*-----styles for jquery dropdown menu-----*/
	.nav-list {
		display: block !important;
	}
}
#nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #000000;
	position: absolute;
	display: block;
	content: '';
	transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
	top: -10px;
}
#nav-toggle span:after {
	bottom: -10px;
}
#nav-toggle.active span {
	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
}
/*----------------Main Image-----------------*/

.image1 {
	width: 100%;
}
.image2 {
	cursor: pointer;
}

/*----------------SLIDESHOW-----------------*/

#slider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
  position: relative;        
}

/* prev / next links */
.cycle-prev, .cycle-next { 
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer; 
  }
  
.cycle-prev { 
  left: 0;
  background: url(img/aleft.png) 50% 50% no-repeat;
  }
  
.cycle-next { 
right: 0;
background: url(img/aright.png) 50% 50% no-repeat;
}

.cycle-prev:hover, .cycle-next:hover { 
opacity: 1;
filter: alpha(opacity=70)
}


/* captions below slideshow*/
#alt-caption {
    background-color: #393f4d;
    color: #d2d4dd;
    font-family: "Proza Libre", "libre", "proza", "ttfautohint" "sans-serif";
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    width: null;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 120px;
    text-align: right
	    
}

/*----------------Triptych-----------------*/

.table {
	position: relative;
	text-align: center;
	color: greenyellow;
	font-size: 0vw;
}

.trip {text-align:center;}

.trip img{
  display:inline-block;
  width:30%;
  margin:0 1% 0 1%;
  }

/*----------------Main Content Area(this is where all the content below the navigation bar will go)--*/

.row {
	width: 80%;
	/*(this determines the width of everything below the main image)*/
	max-width: 1100px;
	/*(restricts the width of items within the row to 940px)*/
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	/*(centers content within the row)*/
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
article {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	border-top: 2px solid #d2d4dd;
	margin-top: -7px;
	background-color: 393f4d
}
body {
	font-family: "Proza Libre", "libre", "proza", "ttfautohint", "sans-serif";
}
h1 {
	text-transform: uppercase;
	font-family: "Cormorant Garamond", "Garamond", "serif";
	color: #fdd86b;
	padding-left: 10px
}
h2 {
	font-family: "Cormorant Garamond", "Garamond", "serif";
	color: #fdd86b;
}
h3 {
	font-family: "Cormorant Garamond", "Garamond", "serif";
	color: #d2d4dd;
}
h4 {
	font-family: "Cormorant Garamond", "Garamond", "serif";
	color: #fdd86b;	
    font-size: 1.125em;
	/* 1.125x body copy size = 18px */
	line-height: 1.11111111;
}
.caption {
	padding-left: 10px;
}
/*This is the font sizing from tyecast*/

body {
	font-size: 100%;
}
body, h1, h2, h3, h4, h5, h6 {
	font-size-adjust: 0.5;
}
/* Body Content */

#page {
	font-size: 1em;
	/* equivalent to 16px */
	line-height: 1.25;
	/* equivalent to 20px */
}
@media (min-width: 43.75em) {
	#page {
		font-size: 1em;
		/* equivalent to 16px */
		line-height: 1.375;
		/* equivalent to 22px */
	}
}
h1 {
	font-size: 2em;
	/* 2x body copy size = 32px */
	line-height: 1.25;
	/* 45px / 36px */
}
@media (min-width: 43.75em) {
	h1 {
		font-size: 2.5em;
		/* 2.5x body copy size = 40px */
		line-height: 1.125;
	}
}
@media (min-width: 56.25em) {
	h1 {
		font-size: 3em;
		/* 3x body copy size = 48px */
		line-height: 1.05;
		/* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */
	}
}
h2 {
	font-size: 1.625em;
	/* 1.625x body copy size = 26px */
	line-height: 1.15384615;
	/* 30px / 26px */
}
@media (min-width: 43.75em) {
	h2 {
		font-size: 2em;
		/* 2x body copy size = 32px */
		line-height: 1.25;
	}
}
@media (min-width: 56.25em) {
	h2 {
		font-size: 2.25em;
		/* 2.25x body copy size = 36px */
		line-height: 1.25;
	}
}
h3 {
	font-size: 1.375em;
	/* 1.375x body copy size = 22px */
	line-height: 1.13636364;
	/* 25px / 22px */
}
@media (min-width: 43.75em) {
	h3 {
		font-size: 1.5em;
		/* 1.5x body copy size = 24px */
		line-height: 1.25;
	}
}
@media (min-width: 56.25em) {
	h3 {
		font-size: 1.75em;
		/* 1.75x body copy size = 28px */
		line-height: 1.25;
	}
}

@media (min-width: 43.75em) {
	h4 {
		line-height: 1.22222222;
		/* (22px / 18px */
	}
}
/*-----This is for the media section from tachyons----*/

.grey {
	color: #d2d4dd;
}
.bt {
	border-top-style: solid;
	border-top-width: 1px;
}
.bb {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.b--black-10 {
	border-color: rgba(0, 0, 0, .1);
}
.db {
	display: block;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.avenir {
	font-family: "Proza Libre", "libre", "proza", "ttfautohint" "sans-serif";
}
.baskerville {
	font-family: 'Cormorant Garamond', 'Garamond', 'Serif';
	;
}
.fw1 {
	font-weight: 100;
}
.lh-title {
	line-height: 1.25;
}
.lh-copy {
	line-height: 1.5;
}
.mw7 {
	max-width: 48rem;
}
.w-100 {
	width: 100%;
}
.black {
	color: #d2d4dd;
}
.pv4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.ph3 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.mb4 {
	margin-bottom: 2rem;
}
.mt0 {
	margin-top: 0;
}
.mv0 {
	margin-top: 0;
	margin-bottom: 0;
}
.no-underline {
	text-decoration: none;
}
.f3 {
	font-size: 1.5rem;
}
.f6 {
	font-size: .875rem;
}
.center {
	margin-right: auto;
	margin-left: auto;
}
.dim {
	opacity: 1;
	transition: opacity .15s ease-in;
}
.dim:hover, .dim:focus {
	opacity: .5;
	transition: opacity .15s ease-in;
}
.dim:active {
	opacity: .8;
	transition: opacity .15s ease-out;
}
@media screen and (min-width: 30em) {
	.flex-row-ns {
		flex-direction: row;
	}
	.w-40-ns {
		width: 40%;
	}
	.w-60-ns {
		width: 60%;
	}
	.pl3-ns {
		padding-left: 1rem;
	}
	.pr3-ns {
		padding-right: 1rem;
	}
	.mb0-ns {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 60em) {
	.ph0-l {
		padding-left: 0;
		padding-right: 0;
	}
	.f5-l {
		font-size: 1rem;
	}
}
/*------Footer from Tachyons-------*/

.cover {
	background-size: cover !important;
}
.bg-center {
	background-repeat: no-repeat;
	background-position: center center;
}
.br2 {
	border-radius: .25rem;
}
.dib {
	display: inline-block;
}
.inline-flex {
	display: inline-flex;
}
.items-center {
	align-items: center;
}
.h2 {
	height: 2rem;
}
.link {
	text-decoration: none;
	transition: color .15s ease-in;
}
.link:link, .link:visited {
	transition: color .15s ease-in;
}
.link:hover {
	transition: color .15s ease-in;
}
.link:active {
	transition: color .15s ease-in;
}
.link:focus {
	transition: color .15s ease-in;
	outline: 1px dotted currentColor;
}
.h1link{
    color: #fdd86b;
}
.w2 {
	width: 2rem;
}
.w-100 {
	width: 100%;
}
.white-60 {
	color: rgba(255, 255, 255, .6);
}
.bg-black-80 {
	background-color: rgba(0, 0, 0, .8);
}
.bg-black {
	background-color: #000;
}
.bg-transparent {
	background-color: transparent;
}
.hover-white:hover {
	color: #fff;
}
.hover-white:focus {
	color: #fff;
}
.pa2 {
	padding: .5rem;
}
.pr2 {
	padding-right: .5rem;
}
.pv5 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.ph3 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.ma2 {
	margin: .5rem;
}
.ml3 {
	margin-left: 1rem;
}
.tc {
	text-align: center;
}
.f6 {
	font-size: .875rem;
}
@media screen and (min-width: 60em) {
	.tc-l {
		text-align: center;
	}
}


/*----full bleed background-----*/

.bb {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.b--black-70 {
	border-color: rgba(0, 0, 0, .7);
}
.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
.fl {
	float: left;
	display: inline;
}

.i {
	font-style: italic;
}
.fw4 {
	font-weight: 400;
}
.fw7 {
	font-weight: 700;
}
.tracked {
	letter-spacing: .1em;
}
.lh-title {
	line-height: 1.25;
}
.lh-copy {
	line-height: 1.5;
}
.black-70 {
	color: rgba(0, 0, 0, .7);
}
.bg-white {
	background-color: #fff;
}
.pa3 {
	padding: 1rem;
}
.pb4 {
	padding-bottom: 2rem;
}
.pt5 {
	padding-top: 4rem;
}
.pv4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.mb3 {
	margin-bottom: 1rem;
}
.mt0 {
	margin-top: 0;
}
.ttu {
	text-transform: uppercase;
}
.f2 {
	font-size: 2.25rem;
}
.f3 {
	font-size: 1.5rem;
}
.f4 {
	font-size: 1.25rem;
}
.measure {
	max-width: 30em;
}
.measure-narrow {
	max-width: 20em;
}
@media screen and (min-width: 30em) {
	.pa4-ns {
		padding: 2rem;
	}
}
/*--------Media tachyons-------*/

.bt {
	border-top-style: solid;
	border-top-width: 1px;
}
.bb {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.b--black-10 {
	border-color: rgba(0, 0, 0, .1);
}
.db {
	display: block;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.avenir {
	font-family: 'avenir next', avenir, sans-serif;
}
.baskerville {
	font-family: baskerville, serif;
}
.fw1 {
	font-weight: 100;
}
.lh-title {
	line-height: 1.25;
}
.lh-copy {
	line-height: 1.5;
}
.mw7 {
	max-width: 48rem;
}
.w-100 {
	width: 100%;
}
.black {
	color: #000;
}
.pv4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.ph3 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.mb4 {
	margin-bottom: 2rem;
}
.mt0 {
	margin-top: 0;
}
.mv0 {
	margin-top: 0;
	margin-bottom: 0;
}
.no-underline {
	text-decoration: none;
}
.f3 {
	font-size: 1.5rem;
}
.f6 {
	font-size: .875rem;
}
.center {
	margin-right: auto;
	margin-left: auto;
}
.dim {
	opacity: 1;
	transition: opacity .15s ease-in;
}
.dim:hover, .dim:focus {
	opacity: .5;
	transition: opacity .15s ease-in;
}
.dim:active {
	opacity: .8;
	transition: opacity .15s ease-out;
}
@media screen and (min-width: 30em) {
	.flex-row-ns {
		flex-direction: row;
	}
	.w-40-ns {
		width: 40%;
	}
	.w-60-ns {
		width: 60%;
	}
	.pl3-ns {
		padding-left: 1rem;
	}
	.pr3-ns {
		padding-right: 1rem;
	}
	.mb0-ns {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 60em) {
	.ph0-l {
		padding-left: 0;
		padding-right: 0;
	}
	.f5-l {
		font-size: 1rem;
	}
}
/*-----Left Title for Resume/skills page-----*/

.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
.fn {
	float: none;
}
.tracked {
	letter-spacing: .1em;
}
.lh-title {
	line-height: 1.25;
}
.lh-copy {
	line-height: 1.5;
}
.gray {
	color: #777;
}
.pv5 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.ph3 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.mb3 {
	margin-bottom: 1rem;
}
.mt0 {
	margin-top: 0;
}
.mt4 {
	margin-top: 2rem;
}
.ttu {
	text-transform: uppercase;
}
.f6 {
	font-size: .875rem;
}
.measure {
	max-width: 30em;
}
@media screen and (min-width: 30em) {
	.fl-ns {
		float: left;
		_display: inline;
	}
	.w-50-ns {
		width: 50%;
	}
	.pr4-ns {
		padding-right: 2rem;
	}
	.ph5-ns {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.mt0-ns {
		margin-top: 0;
	}
}
.hover-gold:hover {
	color: #fdd86b
}
.bg-grey {
	background-color: #393f4d
}
